.logo{
    max-width:80px ;
}
.logo>img{
width: 100%;
}
/* .carousel{
    width: 100%;
    height: 100px;
}
    */
/* .section{
    width: 100%;
    height: 100px;
} */
/* .images{
    height: 400px;
} */
 .card{
    box-shadow: 29px 14px 28px 8px rgba(0,0,0,0.30);
 }
 .onsale {
    color: #fff;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    left: 15px;
    top: 7px;
    background-color: #cc1818;
    z-index: 3;}
    
.woocommerce-Price-currencySymbol{
        font-weight: 700;
    /* margin-bottom: 1rem; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center; */
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 12px;
    color: #32ACA7;
    text-align: center;
}
.woocommerce-Price-amount {
        font-weight: 700;
    /* margin-bottom: 1rem; */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-box-pack: center; */
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}
.text-center{
    text-decoration: underline;
}







